In [27]:
# import pandas, and the driver to connect to the MS SQL Server
import pandas
import pyodbc

In [28]:
# Import OS module for navigating operating system files
# Load in local file into pandas with an absolute path
import os
from pathlib import Path

download_path = Path.home() / "Downloads"
FILE = os.path.abspath(download_path / "rentals.csv")
loaded_file = pandas.read_csv(FILE)

In [29]:
# open a connection and a cursor
conn = pyodbc.connect("Driver={ODBC Driver 17 for SQL Server};"
                       "Server=lcb-dmfa-sql.uccob.uc.edu;"
                       "Database=lcb-dmfa-048;"
                       "UID=lcb-dmfa-048;"
                       "PWD=HV$289bi")
cursor = conn.cursor()

In [30]:
# insert data from the file into the SQL Landlord table
for index, row in loaded_file.iterrows():
    try:
        cursor.execute('INSERT INTO Landlord (id,host_id,host_name) VALUES (?, ?, ?)', 
                       row.id, row.host_id, row.host_name)
    except pyodbc.ProgrammingError:
        continue
    finally:
        conn.commit()

In [31]:
# insert data from the file into the SQL House table
for index, row in loaded_file.iterrows():
    try:
        cursor.execute('INSERT INTO House (id,name,neighborhood,room_type,price,minimum_nights,availability_365,number_of_reviews,average_reviews) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?)',
                       row.id, row.name, row.neighborhood, row.room_type, row.price, row.minimum_nights, row.availability_365, row.number_of_reviews, row.average_reviews)
    except pyodbc.ProgrammingError: 
        continue
    finally:
        conn.commit()

In [ ]:
# done with all transactions, close the cursor and connection
cursor.close()
conn.close()